*{
	box-sizing: border-box;
	font-family: 'Alfa Slab One', cursive;
}
body{
	background-color: #2c3e50;
}
img{
	position: absolute;
}
#pric{
	width: 60px;
	height: 60px;
	cursor: none;
	display: none;
}
#cel{
	width: 120px;
	height: 120px;
	display: none;
}
#sky{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 58%;
	background-color: #74b9ff;
	display: none;
}

#grass{
	position: absolute;
	left: 0;
	top: 58%;
	width: 100%;
	height: 42%;
	background-color: #43A047;
	display: none;
}
#tablo{
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	font-size: 30pt;
	text-align: center;
	height: 60px;
	width: 100%;
	display: none;
	/*font-weight: bold;*/
}
#score{
	color: white;
	font-size: 30pt;
	text-align: center;
	height: auto;
	width: 100%;
	/*font-weight: bold;*/
}
#hell{
	height: 99.5%;
	width: 100px;
	background-color: #e74c3c;
	color: white;
	font-size: 30pt;
	/*font-weight: bold;*/
}
#hellbox{
	position: absolute;
	left: 3%;
	top: 10%;
	padding: 4px 2px;
	height: 50px;
	width: 104px;
	background: #7f8c8d;
}
#end{
	position: absolute;
	display: block;
	left: 0;
	top: 23%;
	height: auto;
	width: 100%;
	background: #e74c3c;
	color: white;
	text-align: center;
	font-size: 50pt;
	/*font-weight: bold;*/
	border: 0;
}
#info{
	position: absolute;
	text-align: center;
	font-size: 20pt;
	/*font-weight: bold;*/
	left: 0;
	width: 100%;
	color: white;
	background-color: #2c3e50;
}
#whatto{
	font-size: 30pt;
}
#prav{
	position: absolute;
	text-align: center;
	font-size: 20pt;
	/*font-weight: bold;*/
	left: 0;
	width: 100%;
	color: white;
	background-color: #2c3e50;
}