.input-prepend{
    	width: calc(100% - 30px);
	}
	.container {
		max-width: unset;
	}
	.body .container {
		width: -moz-available;
    	width: -webkit-fill-available;
   		width: fill-available;
	}
	@media (min-width: 980px){
		#login-form .input-small {
   		    width: -moz-available;
    		width: -webkit-fill-available;
   			width: fill-available
		}
	}
	@media (max-width: 979px) and (min-width: 768px){
		#login-form .input-small {
   		    width: -moz-available;
    		width: -webkit-fill-available;
   			width: fill-available
		}
	}
	@media (max-width: 900px) and (min-width: 768px){
		#login-form .input-small {
   		    width: -moz-available;
    		width: -webkit-fill-available;
   			width: fill-available
		}
	}
	@media (max-width: 767px){
		#login-form .input-small{
			width: -moz-available;
    		width: -webkit-fill-available;
   			width: fill-available
		}
	}
